<style>
  .process-header__inner{
      min-height: 250px;
  }
  .process-header__main{
      -webkit-clip-path: unset;
      clip-path: unset;
  }
  .process-header__main::after{
    background-color: transparent;
  }
</style>
<div class="row small-12">
  <% paginate_posts.each do |post| %>
    <div class="card card--post">
    <div class="card__image__container">
      <% if post.photo.present? %>  
        <%= image_tag post.photo.thumbnail_url, class: "card__image" %>
      <% end %>
      </div>
      <div class="card__content">
        <div class="card__header">
          <%= link_to post, class: "card__link" do %>
          <h2 class="card__title">
            <%= translated_attribute post.title %>
          </h2>
          <% end %>
          <div class="card__author">
            <% post_presenter = Decidim::Blogs::PostPresenter.new(post) %>
            <%= cell "decidim/author", post_presenter.author, from: post, has_actions: true %>
          </div>
        </div>
        <%= decidim_sanitize_editor post_description_with_read_more(post) %>
      </div>
    </div>
  <% end %>
</div>
<%= decidim_paginate paginate_posts %>