<div class="show-for-medium searchbar" data-set="nav-search-holder">
  <div class="topbar__search js-append">
    <%= form_tag(decidim.search_path, method: :get, id: "form-search_topbar") do %>
      <div class="input-group">
        <%= label_tag :term do %>
          <span class="show-for-sr"><%= t("decidim.search.term_input_placeholder") %></span>
          <%= text_field_tag :term, nil, class: "input-group-field m-none", placeholder: t("decidim.search.term_input_placeholder"), title: t("decidim.search.term_input_placeholder") %>
        <% end %>
        <div class="input-group-button">
          <!-- The button wrapper is important for Safari and Firefox -->
          <div class="button-wrapper">
            <%= submit_tag icon("magnifying-glass", aria_label: t("decidim.search.term_input_placeholder"), role: "img"), title: t("decidim.search.term_input_placeholder"), id: :submit, class: "button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="search-btn">
        <div class="search-btn-inner" data-action="close">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" role="img" aria-label="Zu">
              <g stroke="inherit" stroke-linecap="round" stroke-linejoin="round" clip-path="url(#a)">
                <path d="m.5.499 23 23M23.5.499l-23 23"></path>
              </g>
            </svg>
        </div>
        <div class="search-btn-inner" data-action="open">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none" role="img" aria-label="Auf">
              <g stroke="inherit" stroke-linecap="round" stroke-linejoin="round" clip-path="url(#a)">
                <path d="M14.167 27.5c7.364 0 13.334-5.97 13.334-13.333C27.5 6.803 21.53.833 14.167.833 6.804.833.834 6.803.834 14.167S6.804 27.5 14.167 27.5ZM23.594 23.593l15.573 15.574"></path>
              </g>
            </svg>
        </div>
    </div>
</div>